.menu-card {
  margin: 100px auto;
  @media (min-width: 768px) {

    width: 100%;
    min-width: 700px;
    max-width: 800px;
  }
}

.dropdown-container {

}
.gender-checkbox-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 240px;
  background-color: white;
  border: 1px solid #e3e3e3;
  color: #333;

  &:focus {
    background-color: white;
    color: #333;
  }
  &:hover {
    background-color: white;
    color: #333;
  }
  &:active{
    background-color: white;
    color: #333;
  }

}

.header-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.listing-header-image {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  min-height: 13rem;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    max-height: 500px;
  }
}

.header-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + label {
    padding: 8px;
    border: 0.5px solid #ffffff;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  &:hover + label {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.2s ease-in-out;
  }
}


