.edit-listing-header {
  display: flex;
  justify-content: center;

  .edit-listing-container {
    display: flex;
    max-width: 50%;
    margin-bottom: 20px;

    // bootstrap hover effect
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: ease-out 0.2s;
    }
    @media (max-width: 500px) {
      max-height: 100%;
    }

    & .edit-listing-button {
      position: absolute;
      top: 15%;
      left: 85%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }

  }
}




