.navbar-custom {;
  background-color: #e3e3e3;
  padding-bottom: 0;

  & .navbar-not-overview {
    margin-bottom: 10px;
  }

  & .price-range-dropdown {
    min-width: 150px;
    background-color: white;
    border: 1px solid #e3e3e3;
    color: #333;

    &:focus {
      background-color: white;
      color: #333;
    }
    &:hover {
      background-color: white;
      color: #333;
    }
    &:active{
      background-color: white;
      color: #333;
    }

  }


  & .navbar-brand {
    margin-right: 0;
  }
  & .col-md-2 {
    @media (min-width: 768px) {
      width: 9.5%;
    }
  }
  & .col-md-9 {
    @media (min-width: 768px){
      flex: 0 0 auto;
      width: 89%;
     }
  }
  & .navbar-filter-area {
    background-color: #c4c4c4;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10.4%;
    margin-top: 5px;

    & label {
      color: #000;
      font-weight: 500;
    }

    & .button-group {
      margin-left: 200px;
    }

  }
}

